<% unless @klasy_all.any? %>
	W bazie nie mamy zapisanych żadnych klas <br />
<% else %>
	Wyszukaj swoją klasę: <br />
	<%- form_for :search, @search, :html => {:method => :get} do |f| %>
	    <label for="nazwa_contains">Nazwa klasy:</label>
	    <%= f.text_field :nazwa_contains %>
	    <%= f.submit "Szukaj" %>
	 <%- end %> <br />
<% end %>

<% @klasy.each do |k| %>
	<%= k.nazwa %>, <%= k.id %>
	<%= link_to "Zapisz się do tej klasy", {:action => "create", :controller => "uczen_klasa", 
			:klasa_id => k.id, :uczen_id => @uczen.id}, :method => :post %><br />
<% end %>

<%= link_to "Powrot", ocenas_path %>